<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="ETO thuê xe onl"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dung_rot_mon"
        tools:targetApi="31">
        <activity
            android:name=".admin.add"   android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:theme="@style/Theme.Dung_rot_mon" />
        <activity
            android:name=".admin.MainAdmin"   android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".admin.show"   android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".Fragment.tab_account.MyAddress"   android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".Fragment.tab_account.ChangePass"   android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".Fragment.tab_account.FavoriteCars"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".Login.recover_pass"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".Login.register"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".Login.Login"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".MainActivity"

            android:windowSoftInputMode="adjustPan"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>